body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding-top: 80px;
}

.navbar {
  background-color: #000;
  padding: 1rem 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

.navbar-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-brand {
  color: white;
  font-size: 1.8rem;
  font-weight: bold;
}

.menu-toggle {
  display: none;
  font-size: 1.8rem;
  color: white;
  background: none;
  border: none;
  cursor: pointer;
}

.navbar-menu {
  list-style: none;
  display: flex;
  gap: 2rem;
  margin: 0;
  padding: 0;
}

.navbar-menu li a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s ease;
}

.navbar-menu li a:hover {
  color: #ddd;
}

/* Responsive styles */
@media (max-width: 768px) {
  .menu-toggle {
    display: block;
  }

  .navbar-menu {
    display: none;
    flex-direction: column;
    background-color: #000;
    width: 100%;
    position: absolute;
    top: 64px;
    left: 0;
  }

  .navbar-menu.show {
    display: block;
  }

  .navbar-menu li {
    text-align: left;
    padding: 0.8rem 0.8rem 0.48rem 1.8rem;
  }
}

.navbar-menu li a.active {
  color: #00ffff;
  border-bottom: 2px solid #00ffff;
}
